<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta name="theme-color" content="#2196F3">
    <title>David Vinegar</title>

    <!-- CSS  -->
    <link href="../static/min/plugin-min.css" type="text/css" rel="stylesheet">
    <link href="../static/min/custom-min.css" type="text/css" rel="stylesheet" >
</head>
<body id="top" class="scrollspy">

<!-- Pre Loader -->
<div id="loader-wrapper">
    <div id="loader"></div>

    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>

</div>

<!--Navigation-->
<div class="navbar-fixed">
    <nav id="nav_f" class="default_color" role="navigation">
        <div class="container">
            <div class="nav-wrapper">
                <a href="#" id="logo-container" class="brand-logo">David Vinegar</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#intro">About Me</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="#experience">Experience</a></li>
                    <li><a href="#education">Education</a></li>
                </ul>
                <ul id="nav-mobile" class="side-nav">
                    <li><a href="#intro">About Me</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="#experience">Experience</a></li>
                    <li><a href="#education">Education</a></li>
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            </div>
        </div>
    </nav>
</div>

<!--Hero-->
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <h1 class="text_h center header cd-headline letters type">
            <span>Hi my name is David</span>
            <br>
            <span>I'm </span>
            <span class="cd-words-wrapper waiting">
                <b class="is-visible">a developer</b>
                <b>an innovator</b>
                <b>a leader</b>
                <b>a nerd</b>
            </span>
        </h1>
    </div>
</div>

<!--Intro and service-->
<div id="intro" class="section scrollspy">
    <div class="container">
        <div class="row">
            <div  class="col s12">
                <h2 class="center header text_h2"> I'm a junior software engineer working at Brigade Capital in NYC. </span> </h2>
            </div>

            <div  class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="mdi-hardware-phone-android"></i>
                    <h5 class="promo-caption">Code Nerd</h5>
                    <p class="light center">I'm very passionate about coding.  Ever since age 14, I've worked in a multitude of languages and platforms, in particular Python, Java, Android, and SQL.  I code daily and enjoy improving code to be as concise and elegant as possible.
                        </p>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="mdi-social-group"></i>
                    <h5 class="promo-caption">People Person</h5>
                    <p class="light center">Despite being a computer scientist, I love meeting new people and experiencing new things. Traveling, trying new hobbies, and learning about others are all things I truly enjoy.
                        Give me an opportunity to try something new, and chances are I'll take you up on it.</p>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="mdi-action-work"></i>
                    <h5 class="promo-caption">Leader</h5>
                    <p class="light center">I pride myself on organizing my time well and meeting deadlines. I have had the opportunity to use these skills to lead and manage others. I have experience managing a
                        small group of clients back when I was a senior business analyst at enfoTech.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Projects-->
<div class="section scrollspy" id="projects">
    <div class="container">
        <h2 class="header text_b">Projects </h2>
        <div class="row">
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../static/img/github.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">ML Analysis <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a target="_blank" href="https://github.com/davidvee7/MachineLearning-7641">Check it out on Github</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Machine Learning Analysis  <i class="mdi-navigation-close right"></i></span>
                        <p>This is an analysis of various machine learning techniques across two distinct problems.  The first problem is predicting whether or not someone makes greater than $50,000 annually, and the second problem is determining the price range of a house in King County, CA. <br/><br/>

                            <br/><br/>
                            <a target="_blank" href="https://github.com/davidvee7/MachineLearning-7641">Check it out on Github</a></p>

                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../static/img/tacoria_logo.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Tacoria <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a target="_blank" href="https://play.google.com/store/apps/details?id=com.davidvinegar.tacoria">Get it on Google Play</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Tacoria <i class="mdi-navigation-close right"></i></span>
                        <p>Tacoria is an Android app for ordering takeout food from an imaginary restaurant, Tacoria.  It is integrated with MasterCard's SimplifyCommerce API to validate credit cards, and it follows Material Design principles.


                            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.davidvinegar.tacoria">Get it on Google Play</a></p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../static/img/MarketSimulator.jpeg">
                    </div>
                    <div class="card-content">


                        <span class="card-title activator grey-text text-darken-4">Market Simulator<i class="mdi-navigation-more-vert right"></i></span>
                        <p>Code Available Upon Request</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Market Simulator <i class="mdi-navigation-close right"></i></span>
                        <p>The Market Simulator Python app is capable of simulating the stock market over a given time period and running
                            various machine learning algorithms to outperform the S&P 500.  These machine learning algorithms include Q-Learning,
                            K-Nearest Neighbors, and Linear Regression. <br/><br/>


                            <br/><br/>

                            Code available upon request.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../static/img/Vader.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">PitchPerfect <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a target="_blank" href="https://github.com/davidvee7/PitchPerfect">Check it out on Github</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">PitchPerfect <i class="mdi-navigation-close right"></i></span>
                        <p>PitchPerfect is an iPhone app capable of recording users' voices and playing them back in a different pitch or speed.  The pitches include Darth Vader pitch and Chipmunk pitch, and the speeds include fast and slow.

                            <br/><br/>

                            <a target="_blank" href="https://github.com/davidvee7/PitchPerfect">Check it out on Github.</a></p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../static/img/WeatherBlack.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Weather App <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a target="_blank" href="https://play.google.com/store/apps/details?id=com.davidvinegar.stormy">Get it on Google Play</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Weather App <i class="mdi-navigation-close right"></i></span>
                        <p>This is a weather app for Android capable of telling the user the current, hourly, and 7 day forecast.  It delivers up to the minute forecasts using the Dark Sky Weather API.

                            <br/><br/>

                            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.davidvinegar.stormy">Get it on Google Play</a></p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../static/img/materialize.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">This Site <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a target="_blank" href="http://materializecss.com/">Materialize CSS</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">This Site <i class="mdi-navigation-close right"></i></span>
                        <p>This site was built using Materialize CSS and Flask. It's currently hosted with PythonAnywhere.

                            <br/><br/>

                            <a target="_blank" href="http://materializecss.com/">Materialize CSS</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<img class = "responsive-img" src="../static/img/parallax3.png">

<!--Team-->
<div class="section scrollspy" id="experience">
    <div class="container">
        <h2 class="header text_b">Experience </h2>
        <div class="col">
            <div class="row s12 m3">
                <div class="card">
                    <div class="row" style="margin-left:2%;">
                        <div class="col s12 m3" ">
                            <div class="waves-effect waves-block waves-light">
                                <img class="activator" style='height: 100%; width: 100%; object-fit: contain' src="../static/img/WeightWatcher_Logo.png">
                            </div>
                        </div>
                        <div class="col s12 m9 card-content">
                            <span class="grey-text text-darken-4" style="font-size:16pt;">Weight Watchers International<br/></span>
                            <small><em><a class="red-text text-darken-1">Android Development Intern</a></em></small><br/>
                            <small><em><a class="blue-grey-text text-darken-1">May 2016 - Aug 2016 </a></em></small>
                            <div>
                                This past summer I was an Android Development Intern at the Weight Watchers global headquarters in New York City.  I built out new features and fixed bugs for their flagship Android app which has over 3 million users.
                                <br/><br/>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row s12 m3">
                <div class="card">
                    <div class="row" style="margin-left:2%;">
                        <div class="col s12 m3" >
                            <div class="waves-effect waves-block waves-light">
                                <img class="activator" style='height: 100%; width: 100%; object-fit: contain' src="../static/img/wyzant.png">
                            </div>
                        </div>
                        <div class="col s12 m9 card-content">
                            <span class="grey-text text-darken-4" style="font-size:16pt;">Self-Employed<br/></span>
                            <small><em><a class="red-text text-darken-1">Computer Science Tutor</a></em></small><br/>
                            <small><em><a class="blue-grey-text text-darken-1">Sept 2015 - May 2016</a></em></small>
                            <div>
                                I tutored mostly college and high school students in Python, Java, and algorithms.  Highlights include attaining 4.9/5.0 stars on Wyzant.com (from 11 different students) and teaching a particularly bright 8 year old how to code in Python.

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row s12 m3">
                <div class="card">
                    <div class="row" style="margin-left:2%;">
                        <div class="col s12 m3" style="margin-bottom:50px; position: relative; top: 50%; transform: translateY(50%);">
                            <div class="waves-effect waves-block waves-light">
                                <img class="activator" style='height: 100%; width: 100%; object-fit: contain' src="../static/img/enfoTech.png">
                            </div>
                        </div>
                        <div class="col s12 m9 card-content">
                            <span class="grey-text text-darken-4" style="font-size:16pt;">enfoTech & Consulting, Inc.<br/></span>
                            <small><em><a class="red-text text-darken-1">Senior Business Analyst</a></em></small><br/>
                            <small><em><a class="blue-grey-text text-darken-1">June 2013 - August 2015</a></em></small>
                            <div>
                                As a Senior Business Analyst at enfoTech, I held a number of different responsibilities including: Creating Crystal Reports, leading weekly client meetings, gathering software requirements, designing the layout of the software, mapping and migrating data to Oracle and SQL Server databases, creating SQL scripts to correct data errors, testing the software, documentation, and support.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row s12 m3">
                <div class="card">
                    <div class="row" style="margin-left:2%;">
                        <div class="col s12 m3" >
                            <div class="waves-effect waves-block waves-light">
                                <img class="activator" style='height: 100%; width: 100%; object-fit: contain' src="../static/img/albridge.png">
                            </div>
                        </div>
                        <div class="col s12 m9 card-content">
                            <span class="grey-text text-darken-4" style="font-size:16pt;">Albridge, an Affiliate of Pershing, a BNY Mellon Company<br/></span>
                            <small><em><a class="red-text text-darken-1">Intern</a></em></small><br/>
                            <small><em><a class="blue-grey-text text-darken-1">June 2012 - August 2012</a></em></small>
                            <div>
                                At Albrige, I created internal applications to assist with various business processes, including: a Java dashboard that dynamically retrieves and dispalys diagnostic information about database health as an organizational tree.

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Education-->
<div class="section scrollspy" id="education">
    <div class="container">
        <h2 class="header text_b">Education </h2>
        <div class="row">
            <div class="col s6">
                <div class="card card-avatar">
                    <div class="center">
                        <img class="activator" src="../static/img/georgiatech.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Georgia Tech<br/>
                            <small><em><a class="red-text text-darken-1">Master's of Computer Science</a></em></small><br/></span>

                        <small><em><a class="blue-grey-text text-darken-1">2015 - 2017</a></em></small><br/>
                                                   

                        <small><em><a class="blue-grey-text text-darken-1">Cumulative GPA: 4.00/4.00</a></em></small>

                    </div>
                </div>
            </div>
            <div class="col s6">
                <div class="card card-avatar">
                    <div class="center">
                        <img class="activator" src="../static/img/wm.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">College of William & Mary<br/>
                            <small><em><a class="red-text text-darken-1">Finance Major and Computer Science Minor</a></em></small><br/></span>
                                                    <small><em><a class="blue-grey-text text-darken-1">2009 - 2013</a></em></small><br/>
                        <small><em><a class="blue-grey-text text-darken-1">Cumulative GPA: 3.56/4.00</a></em></small><br/>

                            <small><em><a class="blue-grey-text text-darken-1">GPA in Minor: 3.70/4.00</a></em></small>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
function checkform()
{
if(document.formManager.name.value == "" ||
    document.formManager.email.value == "" ||
    document.formManager.message.value == "")
{
    alert("Please fill out all fields");
    return false;
}
else
{
    document.formManager.submit();
}
}
</script>
<!--Footer-->
<footer id="contact" class="page-footer default_color scrollspy">
    <div class="container">
        <div class="row">
            <!--
            <div class="col l6 s12">
                <form class="col s12" name="formManager" action="/contact" method="post">
                    {{ form.hidden_tag() }}
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="mdi-action-account-circle prefix white-text"></i>
                            {{form.name(class_="validate white-text")}}
                            <label class="white-text">Name</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="mdi-communication-email prefix white-text"></i>
                            {{form.email(class_="validate white-text")}}
                            <label class="white-text">Email</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="mdi-editor-mode-edit prefix white-text"></i>
                            {{form.message(class_="materialize-textarea white-text")}}
                            <label class="white-text">Message</label>
                        </div>
                        <div class="col offset-s7 s5">
                            <button class="btn waves-effect waves-light red darken-1" onclick="return checkform()" type="submit">Submit
                                <i class="mdi-content-send right white-text"></i>
                            </button>
                        </div>
                    </div>
                </form>
            -->
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Feel free to shoot me an email at: </h5>
                <h7 class="white-text">davidvinegar@gmail.com</h7>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Or connect with me on: </h5>
                <ul>
                    <li>
                        <a class="white-text" href="https://github.com/davidvee7">
                            <i class="small fa fa-github-square white-text"></i> Github
                        </a>
                    </li>
                    <li>
                        <a class="white-text" href="https://www.linkedin.com/in/davidvinegar">
                            <i class="small fa fa-linkedin-square white-text"></i> Linkedin
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright default_color">
    </div>
</footer>


<!--  Scripts-->
<script src="../static/min/plugin-min.js"></script>
<script src="../static/min/custom-min.js"></script>

</body>
</html>
